<%= content_for :title, "Howdy" %>

<h2>Howdy, <%= session[:user].name %></h2>
<p>If you belong here, go ahead and flip that admin bit on your record, otherwise kindly go <a href="http://www.disney.com">somewhere else</a>.</p>
