<% content_for :title, "Blog" %>

<div class="content-list">
  <ul>
    <% for post in @posts %>
    <li>      
      <div class="post">
        <a href="/<%= post.friendly %>">
   	      <h2><%= post.title %></h2> 
        </a>
	      <h3><%= post.created_at.strftime("%B %d, %Y") %></h3> 
        <%= post.body.html_safe %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
