<% content_for :title, "Blog" %>

<div class="content-list">
  <ul>
    <li>
      <div>
	<h3>Nothing Here</h3>
	<p>This is still a work in progress.  Head on over to <a href="thedoty.com">thedoty.com</a> if you want.</p>
      </div>
    </li>
  </ul>
</div>
