<div class="content-list">
  <ul>
    <li>
      <div>
   	    <h2>{{ post.title }}</h2> 
	      <h3>{{ post.created_at }}</h3> 
        <div class="body-wrapper" ng-bind-html="bodyOf(post)"></div>
      </div>
    </li>
  </ul>
</div>
