<div class="content-list">
  <ul>
    <li>
      <div>
      	<h2><%= t('personal_header') %></h2>
        <p><%= t('personal_blerb') %></p>
      </div>
    </li>
    <li>
      <div>
      	<h2><%= t('professional_header') %></h2>
        <p><%= t('professional_blerb') %></p>
      </div>
    </li>
  </ul>
</div>
