<% content_for :title, "About" %>

<div class="content-list">
  <ul>
    <li>
      <div>
      	<h2>About The Doty</h2>
        <p><strong>Jason Doty</strong> is a geek who likes to ride bicycles and take photographs of the cool things he finds.  He lives in Denver, Colorado.
      </div>
    </li>
    <li>
      <div>
      	<h2>Professional</h2>
<p>Full Stack Web Developer who has been working beyond the code long before the term DevOps existed. Looking to focus on the design and implementation of complex web applications using modern dynamic frameworks. Likes to get his hands dirty building things and excels at solving difficult problems when technologies don’t play well together. Seeking full time employment in Fort Collins or Denver for a company that’s about more than just making money.</p>
      </div>
    </li>
  </ul>
</div>
