<% content_for :title, "About" %>

<div class="content-list">
  <ul>
    <li>
      <div>
      	<h2>About The Doty</h2>
        <p><strong>Jason Doty</strong> is a geek who likes to ride bicycles and take photographs of the cool things he finds.  He lives in Denver, Colorado.
      </div>
    </li>
    <li>
      <div>
      	<h2>Professional</h2>
<p>Web developer who has also spent time as an architect, system administrator, and iOS developer.  Over a decade of experience for all types of employers and clients.  Seeking to implement solutions with Ruby on Rails and modern web frameworks in the Front Range.</p>
      </div>
    </li>
  </ul>
</div>
