<% content_for :title, "About The Doty" %>

<div class="content-list">
  <ul>
    <li>
      <div>
	<h2>About The Doty</h2>
	<p>The Doty is actually <strong>Jason Doty</strong>, although using &#8220;The&#8221; is often more fun.  He lives in Denver, Colorado and rather likes to ride bicycles.</p>
      </div>
    </li>
    <li>
      <div>
	<h2>Professional</h2>
	<p>Jason has over a dozen years of industry experience in the enterprise, mom and pop, startup, and remote freelancing environments while focusing on web development.</p>
      </div>
    </li>
  </ul>
</div>
