// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

.content-list {
  li {
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      border-bottom: none;
	  }
  }
}

.content-list ul li div.post p {
  margin: $image_spacing 0px 0px 0px;
}
