// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

.content-list {
  li {
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      border-bottom: none;
	  }

    div p {
      margin: 4ex 0px 0px 0px;
    }
  }
}