// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';
$top-image-spacing: $image-spacing/2 + 2;
$bottom-image-spacing: $image-spacing/2 - 5;

.content-list {
  li {
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      border-bottom: none;
	  }
  }
}

.content-list ul li div.post p {
  width: 100%;
}

.content-list li div div.photo {
  padding: $top-image-spacing/2 0px $bottom-image-spacing 0px;
}

.content-list ul li div.post div.photo {
  margin: 0px auto;
  text-align: center;
}
