@import 'base';

.controls {
   float: right;
   font-family: $fancy-font-family;
   border: none;
}

h3.left {
   ul {
      li {
         margin: 0px 3ex 0px 0px;
      }
   }
}

.details {
  padding: 3ex 0px;
}
	 
.map {
  float: right;	
  display: block;
  height: 300px;
  width: 300px;
  margin: 4ex 0px 4ex 4ex;
}