@import 'base';

.controls {
   float: right;
   font-family: $fancy-font-family;
   border: none;
}

h3.left {
   ul {
      li {
         margin: 0px 3ex 0px 0px;
      }
   }
}

.map {
  float: right;
}