// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

.photo-row {
  ul {
    margin: 0px;
    padding: 0px;
    margin-bottom: $image-spacing;

    li {
      list-style-type: none;
      display: inline;
      margin: 0px $image-spacing 0px 0px;
      padding: 0px;

      img {
        max-width: 305px;
        max-height: 305px;
        margin: 0px;
      }

	    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
	    }
    }

    li:last-child {
      margin: 0px;
    }
  }
}

img.detail {
  max-width: 960px;
  max-height: 960px;
}

#photo-detail {
  position: relative;
  text-align: center;

  a div {
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    -o-transition: background 200ms;
    transition: background 200ms;
  }

  a:hover div {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

$button-width: 20%;

@mixin overlay-button {
}  

.button-newer {
  @include overlay-button;
  position: absolute;
  left: 0px;
  top: 0px;
  width: $button-width;
  height: 100%;
  max-height: 960px;
}

.button-older {
  @include overlay-button;
  position: absolute;
  right: 0px;
  top: 0px;
  width: $button-width;
  height: 100%;
  max-height: 960px;
}

